In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
df = pd.read_json('./articles.json')

In [3]:
df.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,835247001,835247,Supernova,265,Dress,Garment Full body,1010004,Check,9,Black,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,Calf-length dress in a softly draping viscose ...
1,802930002,802930,New York pile jacket,262,Jacket,Garment Upper body,1010016,Solid,11,Off White,...,Outdoor/Blazers,D,Divided,2,Divided,53,Divided Collection,1007,Outdoor,"Pile jacket with a wide collar, zip down the f..."
2,760084008,760084,Victorville HW Pull-on TRS,272,Trousers,Garment Lower body,1010001,All over pattern,19,Greenish Khaki,...,Trousers,D,Divided,2,Divided,53,Divided Collection,1009,Trousers,Ankle-length trousers in cotton twill with a h...
3,804662002,804662,Kendall body,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Tops Fancy Jersey,D,Divided,2,Divided,53,Divided Collection,1005,Jersey Fancy,Sleeveless body in jersey with a slight sheen....
4,801554002,801554,Wheeler body,254,Top,Garment Upper body,1010001,All over pattern,9,Black,...,Tops Fancy Jersey,D,Divided,2,Divided,53,Divided Collection,1005,Jersey Fancy,Fitted body in jersey containing glittery thre...

In [9]:
df['product_type_no'].unique()

array([265, 262, 272, 253, 254, 256, 252, 245, 306, 286,  59, 283, 275,
       264, 308, 258,  87,  78, 302, 255,  66, 144, 296, 263, 273,  77,
        68, 304,  72, 259, 297,  80, 298,  57, 299,  49, 274,  67, 504,
       267, 295,  70, 270,  75,  81,  85, 231, 496, 261,  94, 257, 305,
       303,  76,  86,  71,  79,  -1, 293,  74, 300, 268,  84,  69,  91,
       288,  93, 289, 467, 477, 503,  92, 475,  89,  90, 277, 230, 285,
        88, 512, 100, 271, 499, 498, 276,  73,  98,  95, 508,  82, 307,
       489, 260, 532, 287, 511, 509, 495, 291, 529, 476, 326,  83, 465,
       155, 161,  60, 156, 284, 514, 525, 102, 515, 366,  96, 494, 470,
       493, 762, 492, 761, 491, 483, 468, 523, 510, 389, 521])

In [7]:
df['product_type_name'].nunique()

127

In [10]:
df.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [11]:
df['department_no'].nunique()

293

In [12]:
df['department_name'].nunique()

244

In [15]:
## section , index_group_name can be mapped

In [28]:
for column in df.columns:
    if 'name' in column : 
        severed = column[:len(column)-4]
        number_col = severed + 'no'
        code_col = severed+'code'
        if number_col in df.columns: 
            print(column, df[column].nunique())
            print(number_col, df[number_col].nunique())
        if code_col in df.columns: 
            print(column, df[column].nunique())
            print(code_col, df[code_col].nunique())

product_type_name 127
product_type_no 128
graphical_appearance_name 30
graphical_appearance_no 30
colour_group_name 50
colour_group_code 50
department_name 244
department_no 293
index_name 10
index_code 10
index_group_name 5
index_group_no 5
section_name 56
section_no 56
garment_group_name 21
garment_group_no 21